<p-sidebar position="right" [modal]="false" (onHide)="hideSideBar()" [(visible)]="_displayOptions">
  <h4 class="title"> {{'right_sidebar.title' | translate}}</h4>
  <div class="content">
    <div class="layer-merge" align="center">
      <div class="layer-card-header">
        <div class="chart-region divReportButton">
          <h5 class="chart-region inline"> {{selectRegion.text}}</h5>
        </div>
      </div>
    </div>

    <div *ngIf="cardsToDisplay.resumo">
      <div [class]="expandGroups.resumo ? 'group-card group-card-active' :'group-card'">
        <div (click)="expandGroups.resumo = !expandGroups.resumo" class="abstract">
          <span>
            <i class='bx bx-trending-up'></i>
            <div class="group-label">{{'right_sidebar.cards_titles.resumoTitle' | translate}}</div>
          </span>
          <i [class]="expandGroups.resumo ? 'bx bxs-up-arrow-circle' :'bx bxs-down-arrow-circle'"></i>
        </div>
        <div class="details">
          <div class="details-inner" *ngIf="infoResumo">
            <div class="resumo-container">
              <div class="resumo-card">
                <div class="resumo-card-title">{{'right_sidebar.region_types.'+selectRegion.type | translate}}</div>
                <div class="resumo-card-content">{{selectRegion.text}}</div>
              </div>
              <div class="resumo-card">
                <div class="resumo-card-title">{{'right_sidebar.resumo_card.area_region' | translate}}</div>
                <div class="resumo-card-content">{{infoResumo.region.area | number:'1.2-3' }} ha</div>
              </div>
              <div class="resumo-card">
                <div class="resumo-card-title">{{'right_sidebar.resumo_card.area_pastagem' | translate}}</div>
                <div class="resumo-card-content">{{infoResumo.pasture.area | number:'1.2-3' }} ha
                  ({{infoResumo.pasture.percentOfRegionArea}}
                  {{'right_sidebar.resumo_card.complement_text' | translate}} {{selectRegion.text}})</div>
              </div>
              <div class="resumo-card">
                <div class="resumo-card-title">{{'right_sidebar.resumo_card.pasture_quality_title' | translate}}</div>
                <div class="resumo-card-content">
                  <div class="resumo-card-content" *ngFor="let cl of infoResumo.pasture_quality"
                    [style]="'border-radius: 5px; margin: 5px; background: ' + cl.color">
                    <div class="resumo-card-title-content">{{cl.classe}}</div>
                    <div class="resumo-card-content">{{cl.value | number:'1.2-3'}} ha ({{cl.percentAreaPasture}}
                      {{'right_sidebar.resumo_card.complement_text_pasture_quality' | translate}} e
                      {{cl.percentOfRegionArea}} {{'right_sidebar.resumo_card.complement_text' | translate}}
                      {{selectRegion.text}})</div>
                  </div>
                </div>
              </div>
              <div class="resumo-card">
                <div class="resumo-card-title">Obs. </div>
                <div class="resumo-card-content obs" [innerHTML]="'right_sidebar.resumo_card.obs_text' | translate">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="cardsToDisplay.area1">
      <div [class]="expandGroups.area1 ? 'group-card group-card-active' :'group-card'">
        <div (click)="expandGroups.area1 = !expandGroups.area1" class="abstract">
          <span>
            <i class='bx bx-trending-up'></i>
            <div class="group-label">{{'right_sidebar.cards_titles.area1Title' | translate}}</div>
          </span>
          <i [class]="expandGroups.area1 ? 'bx bxs-up-arrow-circle' :'bx bxs-down-arrow-circle'"></i>
        </div>
        <div class="details">
          <div class="details-inner">
            <div *ngIf="chartsArea1.length! <= 0" class="loader-container">
              <div class="loader"></div>
            </div>

            <!--table view municipio-->
            <p-tabView *ngIf="chartsArea1.length! > 0">
              <p-tabPanel header="{{chart.title}}" *ngFor="let chart of chartsArea1 ; let i = index" [selected]="i == 0"
                [disabled]="!chart.show" [headerStyle]="{'font-size': 'small'}">
                <div class="margin">
                  <button class="matButton" color="primary" (click)="openCharts(chart)" mat-icon-button>
                    <mat-icon>aspect_ratio</mat-icon>
                  </button>
                  <h4 class="graphicTitle"> {{chart.text}} </h4>
                </div>
                <br><br>
                <div *ngIf="chart.hasOwnProperty('type')">
                  <p-chart #chartU [type]="chart.type" [responsive]="true" [data]="chart.data"
                    [options]="chart.options">
                  </p-chart>
                </div>
              </p-tabPanel>
            </p-tabView>
            <!--table view municipio-->

          </div>
        </div>
      </div>
    </div>
    <div *ngIf="cardsToDisplay.area2">
      <div [class]="expandGroups.area2 ? 'group-card group-card-active' :'group-card'">
        <div (click)="expandGroups.area2 = !expandGroups.area2" class="abstract">
          <span>
            <i class='bx bx-trending-up'></i>
            <div class="group-label">{{'right_sidebar.cards_titles.area2Title' | translate}}</div>
          </span>
          <i [class]="expandGroups.area2 ? 'bx bxs-up-arrow-circle' :'bx bxs-down-arrow-circle'"></i>
        </div>
        <div class="details">
          <div class="details-inner">
            <div *ngIf="chartsArea2.length! <= 0" class="loader-container">
              <div class="loader"></div>
            </div>
            <p-tabView *ngIf="chartsArea2.length! > 0">
              <p-tabPanel header="{{chart.title}}" *ngFor="let chart of chartsArea2 ; let i = index" [selected]="i == 0"
                [disabled]="!chart.show" [headerStyle]="{'font-size': 'small'}">
                <div class="margin">
                  <button class="matButton" color="primary" (click)="openCharts(chart)" mat-icon-button>
                    <mat-icon>aspect_ratio</mat-icon>
                  </button>
                  <h4 class="graphicTitle"> {{chart.text}} </h4>
                </div>
                <br><br>
                <div *ngIf="chart.hasOwnProperty('type')">
                  <p-chart #chartU [type]="chart.type" [responsive]="true" [data]="chart.data"
                    [options]="chart.options">
                  </p-chart>
                </div>
              </p-tabPanel>
            </p-tabView>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="cardsToDisplay.area3">
      <div [class]="expandGroups.area3 ? 'group-card group-card-active' :'group-card'">
        <div (click)="expandGroups.area3 = !expandGroups.area3" class="abstract">
          <span>
            <i class='bx bx-trending-up'></i>
            <div class="group-label">{{'right_sidebar.cards_titles.area3Title' | translate}}</div>
          </span>
          <i [class]="expandGroups.area3 ? 'bx bxs-up-arrow-circle' :'bx bxs-down-arrow-circle'"></i>
        </div>
        <div class="details">
          <div class="details-inner">
            <div *ngIf="chartsArea3.length! <= 0" class="loader-container">
              <div class="loader"></div>
            </div>

            <!--começo do trabalho-->
            <p-tabView *ngIf="chartsArea3.length! > 0">
              <p-tabPanel header="{{chart.title}}" *ngFor="let chart of chartsArea3 ; let i = index" [selected]="i == 0"
                [disabled]="!chart.show" [headerStyle]="{'font-size': 'small'}">
                <div class="margin">
                  <button class="matButton" color="primary" (click)="openCharts(chart)" mat-icon-button>
                    <mat-icon>aspect_ratio</mat-icon>
                  </button>
                  <h4 class="graphicTitle"> {{chart.text}} </h4>
                </div>
                <br><br>
                <div *ngIf="chart.hasOwnProperty('type')">
                  <p-chart #chartU [type]="chart.type" [responsive]="true" [data]="chart.data"
                    [options]="chart.options">
                  </p-chart>
                </div>
              </p-tabPanel>
            </p-tabView>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="cardsToDisplay.rankingTable">
      <div [class]="expandGroups.rankingTable ? 'group-card group-card-active' :'group-card'">
        <div (click)="expandGroups.rankingTable = !expandGroups.rankingTable" class="abstract">
          <span>
            <i class='bx bx-trending-up'></i>
            <div class="group-label">{{'right_sidebar.cards_titles.areaTableTitle' | translate}}</div>
          </span>
          <i [class]="expandGroups.rankingTable ? 'bx bxs-up-arrow-circle' :'bx bxs-down-arrow-circle'"></i>
        </div>
        <div class="details">
          <div class="details-inner">
            <div class="card">
              <p-tabView>
                <p-tabPanel header="{{table.title}}" *ngFor="let table of tableRankings ; let i = index"
                  [selected]="i == 0" [disabled]="!table.show" [headerStyle]="{'font-size': 'small'}">
                  <div *ngIf="table.show">
                    <p-table #dt [columns]="table.exportCols" styleClass="p-datatable-sm" [value]="table.data"
                      (sortFunction)="customSort($event)" [customSort]="true"
                      [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                      [autoLayout]="true"
                      currentPageReportTemplate="{{'right_sidebar.area_table_card_auxiliar.showing' | translate}} {first} {{'right_sidebar.area_table_card_auxiliar.to' | translate}} {last} {{'right_sidebar.area_table_card_auxiliar.of' | translate}} {totalRecords} {{'right_sidebar.area_table_card_auxiliar.entries' | translate}}"
                      [rowsPerPageOptions]="[10,25,50]">
                      <ng-template pTemplate="caption">
                        <div class="p-d-flex btn-exports">
                          <button type="button" pButton pRipple icon="pi pi-file-o" (click)="exportCSV(table)"
                            class="p-button-success" pTooltip="CSV" tooltipPosition="bottom"></button>
                          <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf(table)"
                            class="p-button-warning" pTooltip="PDF" tooltipPosition="bottom"></button>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns" [pSortableColumn]="col.dataKey">
                            <p>{{col.header}}</p> 
                            <p-sortIcon [field]="col.dataKey"></p-sortIcon>
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                          <td *ngFor="let col of columns" align="center">
                            {{rowData[col.dataKey]}}
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="paginatorleft">
                        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                      </ng-template>
                      <ng-template pTemplate="paginatorright">
                        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                      </ng-template>
                    </p-table>
                  </div>
                </p-tabPanel>
              </p-tabView>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-sidebar>

<p-dialog [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [modal]="true"
  [header]="objectFullScreenChart.title" [(visible)]="objectFullScreenChart.fullScreen" [style]="{width: '50vw'}">
  <p *ngIf="objectFullScreenChart.text">
    {{ objectFullScreenChart.text }}
  </p>
  <div class="chart">
    <p-chart *ngIf="objectFullScreenChart.type" [responsive]="true"  [type]="objectFullScreenChart.type" [data]="objectFullScreenChart.data"
      [options]="objectFullScreenChart.options">
    </p-chart>
  </div>
</p-dialog>
