<div class="container-swipe">
    <div class="swipe-card">
        <div class="controls-details-card-title">Left side</div>

        <div class="controls-details-card-body">
            <span>
                <p-autoComplete (onClear)="onClearLayer(leftLayer)" [appendTo]="'body'"
                [placeholder]="'controls.details.swipe_placeholder' | translate" [(ngModel)]="leftLayer.name"
                [suggestions]="swipeOptions" (onSelect)="onSelectedLayer($event, leftLayer)"
                (completeMethod)="getOptions($event)" field="name">
                    <ng-template let-layer pTemplate="item">
                        <div class="autocomplete-option">{{layer.name}}</div>
                    </ng-template>
                </p-autoComplete>
                <div class="controls-details-card-body-actions">
                    <i *ngIf="leftLayer.visible" [pTooltip]="'controls.details.clear' | translate" class='bx bx-trash'
                      (click)="onClearLayer(leftLayer)"></i>
                </div>
            </span>
            <div class="layer-card-body" *ngIf="leftLayer.visible">
                <div class="layer-card-content">
                    <span *ngIf="leftLayer.visible" class="p-float-label">
                        <p-dropdown id="type-filters-{{leftLayer.layer.get('descriptorLayer').filters}}"
                            *ngIf="leftLayer.layer.get('descriptorLayer').filters"
                            [options]="leftLayer.layer.get('descriptorLayer').filters"
                            [(ngModel)]="leftLayer.layer.get('descriptorLayer').filterSelected"
                            (onChange)="changeDate(leftLayer.layer)"
                            optionLabel="viewValueFilter" optionValue="valueFilter"
                            appendTo="body"></p-dropdown>
                        <label
                            for="type-filters-{{leftLayer.layer.get('descriptorLayer').filterSelected}}">{{leftLayer.layer.get('descriptorLayer').filterLabel}}
                        </label>
                    </span>
                </div>
            </div>
        </div>

        <div class="swipe-card">
            <div class="controls-details-card-title">Right side</div>
            <div class="controls-details-card-body">
                <span>
                    <p-autoComplete (onClear)="onClearLayer(rightLayer)" [appendTo]="'body'"
                    [placeholder]="'controls.details.swipe_placeholder' | translate" [(ngModel)]="rightLayer.name"
                    [suggestions]="swipeOptions" (onSelect)="onSelectedLayer($event, rightLayer)"
                    (completeMethod)="getOptions($event)" field="name">
                        <ng-template let-layer pTemplate="item">
                            <div class="autocomplete-option">{{layer.name}}</div>
                        </ng-template>
                    </p-autoComplete>
                    <div class="controls-details-card-body-actions">
                        <i *ngIf="rightLayer.name" [pTooltip]="'controls.details.clear' | translate" 
                        class='bx bx-trash' (click)="onClearLayer(rightLayer)">
                        </i>
                    </div>
                </span>
                <div class="layer-card-body" *ngIf="rightLayer.visible">
                    <div class="layer-card-content">
                        <span *ngIf="true" class="p-float-label">
                            <p-dropdown id="type-filters-{{rightLayer.layer.get('descriptorLayer').filterSelected}}"
                                *ngIf="rightLayer.layer.get('descriptorLayer').filters"
                                [options]="rightLayer.layer.get('descriptorLayer').filters"
                                [(ngModel)]="rightLayer.layer.get('descriptorLayer').filterSelected"
                                (onChange)="changeDate(rightLayer.layer)"
                                optionLabel="viewValueFilter" optionValue="valueFilter"
                                appendTo="body"></p-dropdown>
                            <label
                                for="type-filters-{{rightLayer.layer.get('descriptorLayer').filterSelected}}">{{rightLayer.layer.get('descriptorLayer').filterLabel}}
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>