<div class="container-swipe">
    <div class="swipe-card">
        <div class="controls-details-card-title">Left side</div>

        <div class="controls-details-card-body">
            <span>
                <p-autoComplete (onClear)="clearLeft()" [appendTo]="'body'"
                [placeholder]="'controls.details.swipe_placeholder' | translate" [(ngModel)]="swipeValueLeft"
                [suggestions]="swipeOptions" (onSelect)="onSelectedLayerLeft($event)"
                (completeMethod)="search($event)" field="name">
                    <ng-template let-layer pTemplate="item">
                        <div class="autocomplete-option">{{layer.name}}</div>
                    </ng-template>
                </p-autoComplete>
                <div class="controls-details-card-body-actions">
                    <i *ngIf="swipeValueLeft" [pTooltip]="'controls.details.clear' | translate" class='bx bx-trash'
                      (click)="clearLeft()"></i>
                </div>
            </span>
            <div class="layer-card-body" *ngIf="swipeLayerLeft.visible">
                <div class="layer-card-content">
                    <span *ngIf="true" class="p-float-label">
                        <p-dropdown id="type-filters-{{swipeLayerLeft.selectedTypeObject!.filterSelected}}"
                            *ngIf="swipeLayerLeft.selectedTypeObject!.filters"
                            [options]="swipeLayerLeft.selectedTypeObject!.filters"
                            [(ngModel)]="swipeLayerLeft.selectedTypeObject!.filterSelected"
                            (onChange)="changeDate(swipeLayerLeft)"
                            optionLabel="viewValueFilter" optionValue="valueFilter"
                            appendTo="body"></p-dropdown>
                        <label
                            for="type-filters-{{swipeLayerLeft.selectedTypeObject!.filterSelected}}">{{swipeLayerLeft.selectedTypeObject!.filterLabel}}
                        </label>
                    </span>
                </div>
            </div>
        </div>

        <div class="swipe-card">
            <div class="controls-details-card-title">Right side</div>
            <div class="controls-details-card-body">
                <span>
                    <p-autoComplete (onClear)="clearRight()" [appendTo]="'body'"
                    [placeholder]="'controls.details.swipe_placeholder' | translate" [(ngModel)]="swipeValueRight"
                    [suggestions]="swipeOptions" (onSelect)="onSelectedLayerRight($event)"
                    (completeMethod)="search($event)" field="name">
                        <ng-template let-layer pTemplate="item">
                            <div class="autocomplete-option">{{layer.name}}</div>
                        </ng-template>
                    </p-autoComplete>
                    <div class="controls-details-card-body-actions">
                        <i *ngIf="swipeValueRight" [pTooltip]="'controls.details.clear' | translate" 
                        class='bx bx-trash' (click)="clearRight()">
                        </i>
                    </div>
                </span>
                <div class="layer-card-body" *ngIf="swipeLayerRight.visible">
                    <div class="layer-card-content">
                        <span *ngIf="true" class="p-float-label">
                            <p-dropdown id="type-filters-{{swipeLayerRight.selectedTypeObject!.filterSelected}}"
                                *ngIf="swipeLayerRight.selectedTypeObject!.filters"
                                [options]="swipeLayerRight.selectedTypeObject!.filters"
                                [(ngModel)]="swipeLayerRight.selectedTypeObject!.filterSelected"
                                optionLabel="viewValueFilter" optionValue="valueFilter"
                                appendTo="body"></p-dropdown>
                            <label
                                for="type-filters-{{swipeLayerRight.selectedTypeObject!.filterSelected}}">{{swipeLayerRight.selectedTypeObject!.filterLabel}}
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>