<div class="container-swipe">
    <div class="swipe-card">
        <div class="controls-details-card-title">Right side swipe</div>

        <div class="controls-details-card-body">
            <span>
                <!-- <p-autoComplete (onClear)="onClearSwipe()" [appendTo]="'body'"
                  [placeholder]="'controls.details.swipe_placeholder' | translate" [(ngModel)]="valueSwipe"
                  [suggestions]="swipeOptions" (onSelect)="onSwipeSelectedLayer($event)"
                  (completeMethod)="search($event)" field="name">
                  <ng-template let-layer pTemplate="item">
                      <div class="autocomplete-option">{{layer.name}}</div>
                  </ng-template>
              </p-autoComplete> -->
                <div class="controls-details-card-body-actions">
                    <!-- <i *ngIf="valueSwipe" [pTooltip]="'controls.details.clear' | translate" class='bx bx-trash'
                      (click)="onClearSwipe()"></i> -->
                </div>
            </span>
            <!-- <div class="layer-card-body" *ngIf="swipeLayer.visible"> -->
            <!-- <div class="layer-card-content">
                <span *ngIf="swipeLayer.selectedTypeObject!.filters" class="p-float-label">
                    <p-dropdown id="type-filters-{{swipeLayer.selectedTypeObject!.filterSelected}}"
                        *ngIf="swipeLayer.selectedTypeObject!.filters"
                        [options]="swipeLayer.selectedTypeObject!.filters"
                        [(ngModel)]="swipeLayer.selectedTypeObject!.filterSelected"
                        (onChange)="changeLayerVisibility({layer: swipeLayer.selectedTypeObject, updateSource: true})"
                        optionLabel="viewValueFilter" optionValue="valueFilter"></p-dropdown>
                    <label
                        for="type-filters-{{swipeLayer.selectedTypeObject!.filterSelected}}">{{swipeLayer.selectedTypeObject!.filterLabel}}</label>
                </span>
            </div> -->
        </div>
    </div>

    <div class="swipe-card">
        <div class="controls-details-card-title">Left side swipe</div>
        <div class="controls-details-card-body">
            <!-- <span>
              <p-autoComplete (onClear)="onClearSwipe()" [appendTo]="'body'"
                  [placeholder]="'controls.details.swipe_placeholder' | translate" [(ngModel)]="valueSwipe"
                  [suggestions]="swipeOptions" (onSelect)="onSwipeSelectedLayer($event)"
                  (completeMethod)="search($event)" field="name">
                  <ng-template let-layer pTemplate="item">
                      <div class="autocomplete-option">{{layer.name}}</div>
                  </ng-template>
              </p-autoComplete>
              <div class="controls-details-card-body-actions">
                  <i *ngIf="valueSwipe" [pTooltip]="'controls.details.clear' | translate" class='bx bx-trash'
                      (click)="onClearSwipe()"></i>
              </div>
          </span> -->
            <!-- <div class="layer-card-body" *ngIf="swipeLayer.visible"> -->
            <!-- <div class="layer-card-content">
                  <span *ngIf="swipeLayer.selectedTypeObject!.filters" class="p-float-label">
                      <p-dropdown id="type-filters-{{swipeLayer.selectedTypeObject!.filterSelected}}"
                          *ngIf="swipeLayer.selectedTypeObject!.filters"
                          [options]="swipeLayer.selectedTypeObject!.filters"
                          [(ngModel)]="swipeLayer.selectedTypeObject!.filterSelected"
                          (onChange)="changeLayerVisibility({layer: swipeLayer.selectedTypeObject, updateSource: true})"
                          optionLabel="viewValueFilter" optionValue="valueFilter"></p-dropdown>
                      <label
                          for="type-filters-{{swipeLayer.selectedTypeObject!.filterSelected}}">{{swipeLayer.selectedTypeObject!.filterLabel}}</label>
                  </span>
              </div> -->
        </div>
    </div>
</div>