//@import "../../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
//@import "../../../../node_modules/primeicons/primeicons.css";
//@import "../../../../node_modules/primeng/resources/themes/md-light-indigo/theme.css";
//@import "../../../../node_modules/primeng/resources/primeng.min.css";
//@import "../../../../node_modules/ol/ol.css";
//@import "../../../../node_modules/ol-ext/dist/ol-ext.css";
//@import "../../../../node_modules/font-gis/index.css";
//@import "../../../../node_modules/primeflex/primeflex.css";

@import "global";
@import "hotsite/styles";

