@import "src/app/@core/styles/default_theme";
@import "src/app/@core/styles/reponsive";

@include media('>=desktop') {

  .map-container {
    height: $height;
    width: $map-width;
    background: transparent;
    transition: all 0.8s ease !important;

    .open-layers {
      margin-left: 321px;
    }

    .open-layers-right {
      margin-right: 321px;
    }
  }

  :host {
    position: relative;

    .coordinates {
      z-index: 101;
      position: absolute;
      top: 11px;
      right: 11px;

      .coordinates-container {
        display: flex;
        color: black;
        width: 11.5em;
        background: rgba($primary, 0.6);
        transition: all 0.5s ease;
        border-radius: 5px;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);

        i {
          color: white;
          font-size: 18px;
          padding: 1px;
          background: $primary;
          line-height: 2em;
          width: 2em;
          transition: all 0.5s ease;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;

          &:hover {
            cursor: pointer;
          }

          &:before {
            font-size: 25px;
            padding: 6px;
          }
        }

        .mouse-position {
          text-align: center;
          width: 10.5em;
          color: white;
          font-size: 14px;
        }
      }
    }

    .search-point {
      z-index: 101;
      position: absolute;
      top: 4.3em;
      right: 11px;

      .search-point-container {
        display: flex;
        color: black;
        width: 23.8em;
        padding: 8px;
        background: white;
        transition: all 0.5s ease;
        border-radius: 5px;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);

        input {
          width: 10em;
          padding: 0.5rem;
        }

        i {
          color: $primary;
          transition: all 0.8s ease;
          padding: 8px;
          border-radius: 50px;

          &:hover {
            cursor: pointer;
            background: rgba($primary, 0.2);
          }
        }
      }
    }

    .legends {
      z-index: 101;
      position: absolute;
      width: 20em;
      bottom: 19px;
      right: 11px;

      .legend-tools {
        i {
          margin: 5px;
        }
      }

      //TODO: Quando minimizado, manter a mesma largura.
      .legends-container {
        color: black;
        background: rgba(22, 38, 35, 0.6);
        transition: all 0.5s ease;
        border-radius: 5px;
        box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);

        .legends-header {
          transition: .6s ease all;
          padding: 8px;
          color: white;
          display: flex;
          text-align: center;
          background: $primary;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          i {
            cursor: pointer;
          }

          h5 {
            width: 100%;
          }

          h5, div {
            margin: unset;
            font-size: 0.9rem !important;
            font-family: 'Montserrat', sans-serif !important;
          }

        }

        .legends-body {
          height: 23rem;
          overflow: auto;
        }
      }
    }

    .legends-expanded {
      bottom: 18px;
      width: 10em;

      .legends-header {
        border-radius: 5px;
      }

      .legends-body {
        display: none;
      }
    }

    .controls {
      z-index: 101;
      position: absolute;
      top: 101px;

      .controls-container {
        position: relative;

        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
        margin-left: 8.6px;
        justify-content: space-between;
        align-items: center;

        i {
          color: white;
          font-size: 0.9em;
          margin: 2px;
          padding: 4px;
          transition: all 0.5s ease;
          background-color: lighten($primary, 20%);
          border-radius: 5px;

          &:focus {
            background-color: lighten($primary, 40%);
          }

          &:hover {
            cursor: pointer;
            background-color: lighten($primary, 40%);
          }

          &:before {
            font-size: 1.30em;
          }
        }

        .control-active {
          background-color: lighten($primary, 40%);
        }
      }
    }

    .controls-details {
      width: 28em;
      z-index: 101;
      position: absolute;
      top: 8px;
      left: 50px;
      transition: all 0.5s ease;
      background: rgba($primary, 0.4);
      border-radius: 5px 5px 0px 0px;
      box-shadow: 0 0 16px rgb(0 0 0 / 40%);
      overflow: hidden;

      .controls-details-header {
        transition: 0.6s ease all;
        color: white;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        background: $primary;
        font-size: 0.9rem !important;

        i {
          font-size: 20px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .controls-details-body {
        max-height: 60vh;
        overflow-x: auto;
      }

      .controls-details-card {
        font-size: 12px;
        margin: 5px;
        background: white;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

        .controls-details-card-title {
          font-size: 14px;
          text-align: center;
          padding: 8px;
          display: flex;
          justify-content: center;
          background: lighten($primary, 60%);
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }

        .controls-details-card-body {
          margin-top: 5px;
          margin-bottom: 5px;
          padding: 5px;

          span {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p-autocomplete {
              width: 100%;
            }

            .p-inputtext {
              padding: 0.5em;
              width: 100%;
              color: $primary;
              font-size: 13px;
              font-family: "Montserrat", sans-serif;
            }

            .p-autocomplete-loader {
              font-size: 17px;
              right: 0.3rem;
              margin-top: -0.56rem;
            }

            .close {
              margin: 5px;
              font-size: 20px;
              transition: all 0.8s ease;
              padding: 8px;
              border-radius: 50px;

              &:hover {
                cursor: pointer;
                background: rgba($primary, 0.2);
              }
            }
          }

          .search-options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;
            font-size: 14px;

            .p-button {
              padding: 5px !important;
            }

            div[role='button'] {
              span {
                display: none;
              }
            }
          }

          .controls-details-card-body-actions {
            margin: 6px;
            display: flex;

            i {
              font-size: 20px;
              transition: all 0.8s ease;
              padding: 8px;
              border-radius: 50px;

              &:hover {
                cursor: pointer;
                background: rgba($primary, 0.2);
              }
            }
          }

          .features {
            justify-content: space-around;
            box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
          }

          .card-feature {
            display: flex;
            width: 135px;
            justify-content: space-between;
            align-items: center;
            margin: 5px;
            padding: 5px;
            transition: all 0.5s ease;
            border-radius: 5px;
            box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);

            &:hover {
              background: lighten($primary, 60%);
            }

            .card-feature-title {
              font-size: 12px
            }

            .card-feature-actions {
              display: flex;
              flex-direction: column;
              align-items: center;

              i {
                font-size: 15px;
                margin: 2px;
                transition: all 0.5s ease;

                &:hover {
                  cursor: pointer;
                  transform: scale(1.3);
                }
              }
            }

            .remove {
              font-size: 15px;
              transition: all 0.5s ease;

              &:hover {
                cursor: pointer;
                color: $danger;
              }
            }
          }

          .features-actions {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 10px;

            .btn-save {
              background: $primary;
            }

            .btn-cancel {
              background: $secondary;
            }

            .btn-action {
              width: 8em;
              color: white;
              display: flex;
              justify-content: center;
              padding: 10px;
              border-radius: 5px;
              font-size: 13px;
              align-items: center;
              transition: all 0.5s ease;

              &:hover {
                cursor: pointer;
              }

              i {
                font-size: 18px;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }

    .layer-card-content {
      .p-element {
        width: 100% !important;

        .p-dropdown {
          width: 100% !important;
        }
      }
    }
  }


  .legend-card {
    position: relative;
    margin: 6px;

    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

    overflow: hidden;
    perspective: 800px;
    transform-style: preserve-3d;
  }

  .abstract,
  .details {
    $bg: rgba(white, 1);
    width: 100%;
    position: relative;
    background: $bg;

    .group-card:hover & {
      background: darken($bg, 2%);
    }
  }
  .abstract {
    z-index: 10;
    transition: .6s ease all;
    padding: 8px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);

    .legend-label {
      font-size: 12px;
      margin-left: 2px;
      text-align: center;
      text-overflow: ellipsis;
      width: 195px;
      white-space: nowrap;
      overflow: hidden;
    }

    i {
      color: black !important;
      line-height: unset !important;
      height: unset !important;
      font-size: 20px !important;
      min-width: unset !important;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
  .details {
    max-height: 0;
    padding: 0;
    visibility: hidden;
    transform: rotateX(-180deg);
    transform-origin: top center;
    backface-visibility: hidden;
    transition: .6s ease all;

    img {
      max-width: 82%;
    }

  }
  
  .legend-card-active {
    .details {
      max-height: none;
      visibility: visible;
      transform: rotateX(0deg);
    }
  }
  .details-inner {
    padding: 8px;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .legend-card:last-child {
    border: none;
  }

  .legend-card.cdk-drop-list-dragging .legend-card-content:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .map-loading,
  .map-loading:before,
  .map-loading:after {
    background: $primary;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }

  .map-loading {
    font-size: 10px !important;
    color: $primary;
    text-indent: -9999em;
    margin: 18px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1001;
  }

  .map-loading:before,
  .map-loading:after {
    position: absolute;
    top: 0;
    content: '';
  }

  .map-loading:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .map-loading:after {
    left: 1.5em;
  }

  .gallery-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  video{
    border-radius: 10px;
  }
  .form-jobs{
    display: flex;
    align-items: center;
    flex-direction: column;
    input{
      width: 100%;
    }
    span {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .job-controls {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .p-button {
        width: 180px !important;
      }
      .terms{
        display: flex;
        flex-direction: row;
        align-items: center;
        small{
          margin-left: 10px;
        }
      }
    }
  }
}
.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(74, 74, 74, 0.4);
  z-index: 99999;
}
