<app-site-base>
  <!-- inner banner -->
  <section class="artigos-banner">
    <div class="w3l-breadcrumb py-5">
      <div class="container py-xl-5 py-md-4 mt-5">
        <h4 class="inner-text-title font-weight-bold mb-sm-2"> {{'hotsite.articles.page_title' | translate}}</h4>
        <ul class="breadcrumbs-custom-path">
          <li><a href="/">Home</a></li>
          <li class="active"><i class='bx bx-chevron-right'></i>{{'hotsite.base.header.menu.articles' | translate}}</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //inner banner -->

  <!-- blog section -->
  <div class="w3l-homeblock2 py-5">
    <div class="container py-md-5 py-4">
      <div class="row align-items-center mb-5">
        <div class="col-md-6 section-heading">
          <h3 class="title-style-2">{{'hotsite.base.header.menu.articles' | translate}}</h3>
        </div>
      </div>
      <div class="row align-items-center mb-5">
        <div class="col">
          <div class="form-group">
            <label for="search">{{'hotsite.articles.search.title' | translate}}</label>
            <input [(ngModel)]="search" class="form-control" type="text" name="search" id="search" placeholder="{{'hotsite.articles.search.placeholder' | translate}}" required="">
          </div>
        </div>
      </div>
      <div class="cards-artigos" >
        <div class="row m-3" *ngFor="let article of articles | filter:search">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row">
                <div class="col-sm-4 pl-5 pt-4 position-relative">
                  <a [href]="article.doi" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         [src]="article.image"
                         [alt]="article.doi">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div [id]="article.id" class="card-body blog-details align-self pl-sm-0">
                    <a [href]="article.doi" target="_blank" class="blog-desc">
                      {{article.title}}
                    </a>
                    <p [innerHTML]="article.abstract">
                     
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">{{'hotsite.articles.authors' | translate}} {{article.authors}}</h5>
                      <a [href]="article.doi" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="../../../../assets/hotsite/images/doi.svg"
                             [alt]="article.doi">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //blog section -->

</app-site-base>
