.copyright-footer img {
  border-radius: 15px;
  margin: 15px;
  max-width: 70%;
  background: #ffffff26;;
  padding: 20px;
  /*filter: grayscale(100%);*/
}

.navbar-brand img {
  height: 2em;
}

.diferencial{
  max-width: calc(100% - 16%);
  padding: 40px;
  background: rgb(255 255 255 / 10%);
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}

.logo-icons img {
  width: auto;
  height: 5;
}
