<app-site-base>

  <!-- inner banner -->
  <section class="inner-banner">
    <div class="w3l-breadcrumb py-5">
      <div class="container py-xl-5 py-md-4 mt-5">
        <h4 class="inner-text-title font-weight-bold mb-sm-2">{{'hotsite.about.page_title' | translate}}</h4>
        <ul class="breadcrumbs-custom-path">
          <li><a href="/">Home</a></li>
          <li class="active"><i class='bx bx-chevron-right'></i> {{'hotsite.base.header.menu.contact' | translate}}</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //inner banner -->

  <!-- contact -->
  <section class="w3l-contact-info-main py-5" id="contact">
    <div class="container py-md-5 py-4">
        <div class="row align-items-center mb-5">
            <div class="col-md-6 section-heading">
                <h5 class="small-title-2">{{'hotsite.contact.sub-title' | translate}}</h5>
                <h3 class="title-style-2"> {{'hotsite.contact.title' | translate}}</h3>
            </div>
            <div class="col-md-6 section-heading mt-md-0 mt-2">
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque,
                    eaque ipsa quae ab illo inventore.Sed ut perspiciatis unde omnis iste natus error sit.
                </p>
            </div>
        </div>
        <div class="contact-w3pvt-form mt-5 pt-lg-4">
            <form method="post" class="w3layouts-contact-fm" action="https://sendmail.w3layouts.com/submitForm">
                <div class="row main-cont-sec">
                    <div class="col-md-6 left-cont-contact">
                        <div class="form-group mb-3">
                            <label for="w3lName">{{'hotsite.contact.user-name' | translate}}</label>
                            <input class="form-control" type="text" name="w3lName" id="w3lName" placeholder=""
                                required="">
                        </div>
                        <div class="form-group mb-3">
                            <label for="w3lSender">{{'hotsite.contact.user-email' | translate}}</label>
                            <input class="form-control" type="email" name="w3lSender" id="w3lSender" placeholder=""
                                required="">
                        </div>
                        <div class="form-group mb-3">
                            <label for="w3lSubject">{{'hotsite.contact.user-subject' | translate}}</label>
                            <input class="form-control" type="text" name="w3lSubject" id="w3lSubject" required="">
                        </div>
                    </div>
                    <div class="col-md-6 right-cont-contact">
                        <div class="form-group">
                            <label for="w3lSubject">{{'hotsite.contact.user-message' | translate}}</label>
                            <textarea class="form-control" name="w3lMessage" id="w3lMessage" placeholder=""
                                required=""></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group-2 mt-3 text-right">
                    <button type="submit" id='submit-button' class="btn btn-style">{{'hotsite.contact.submit' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</section>

</app-site-base>

