<app-site-base>

  <!-- inner banner -->
  <section class="inner-banner">
    <div class="w3l-breadcrumb py-5">
      <div class="container py-xl-5 py-md-4 mt-5">
        <h4 class="inner-text-title font-weight-bold mb-sm-2">{{'hotsite.about.page_title' | translate}}</h4>
        <ul class="breadcrumbs-custom-path">
          <li><a href="/">Home</a></li>
          <li class="active"><i class='bx bx-chevron-right'></i> {{'hotsite.base.header.menu.contact' | translate}}</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //inner banner -->

  <!-- contact -->
  <section class="w3l-contact-info-main py-5" id="contact">
    <div class="container py-md-5 py-4">
        <div class="row align-items-center mb-5">
            <div class="col-md-6 section-heading">
                <h3 class="title-style-2"> {{'hotsite.contact.title' | translate}}</h3>
            </div>
        </div>
        <div class="contact-w3pvt-form mt-5 pt-lg-4">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="row main-cont-sec">
                    <div class="col-md-6 left-cont-contact">
                        <div class="form-group mb-3">
                            <label for="w3lName">{{'hotsite.contact.user-name' | translate}}</label>
                            <!--Validation-->
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                                <div *ngIf="name.errors?.['required']">
                                    Name is required.
                                </div>
                            </div>
                            <!--End valdiation-->
                            <input class="form-control" type="text" name="name" placeholder="" ngModel required #name="ngModel">
                        </div>
                        <div class="form-group mb-3">
                            <label for="w3lSender">{{'hotsite.contact.user-email' | translate}}</label>
                            <!--Validation-->
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                                <div *ngIf="email.errors?.['required']">
                                    Email is required.
                                    {{email.errors}}
                                </div>
                            </div>
                            <!--End_validation-->
                            <input class="form-control" type="email" email name="email" placeholder="" ngModel required #email="ngModel">
                        </div>
                        <div class="form-group mb-3">
                            <label for="w3lSubject">{{'hotsite.contact.user-subject' | translate}}</label>
                            <!--Validation-->
                            <div *ngIf="subject.invalid && (subject.dirty || subject.touched)" class="alert">
                                <div *ngIf="subject.errors?.['required']">
                                    Subject is required.
                                </div>
                            </div>
                            <!--End_validation-->
                            <input class="form-control" type="text" name="subject" ngModel required #subject="ngModel">
                        </div>
                    </div>
                    <div class="col-md-6 right-cont-contact">
                        <div class="form-group">
                            <label for="w3lSubject">{{'hotsite.contact.user-message' | translate}}</label>
                            <!--Validation-->
                            <div *ngIf="message.invalid && (message.dirty || message.touched)" class="alert">
                                <div *ngIf="message.errors?.['required']">
                                    Message is required.
                                </div>
                            </div>
                            <!--End_validation-->
                            <textarea class="form-control" name="message" placeholder="" ngModel required #message="ngModel"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group-2 mt-3 text-right">
                    <button type="submit" class="btn btn-style">{{'hotsite.contact.submit' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</section>

</app-site-base>

