@import "src/app/@core/styles/default_theme";
@import "src/app/@core/styles/reponsive";

:host ::ng-deep{
  min-height: 200px;

  .p-button {
    font-size: 13px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    background-color: lighten($primary, 20%);
    border-color: lighten($primary, 20%);
  }

  .controls-details-card-title {
    font-size: 14px;
    text-align: center;
    padding: 8px;
    display: flex;
    justify-content: center;
    background: lighten($primary, 60%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .controls-details-card-body {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;

    span {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p-autocomplete {
        width: 100%;
      }

      .p-inputtext {
        padding: 0.5em;
        width: 100%;
        color: $primary;
        font-size: 13px;
        font-family: "Montserrat", sans-serif;
      }

      .p-autocomplete-loader {
        font-size: 17px;
        right: 0.3rem;
        margin-top: -0.56rem;
      }

      .close {
        margin: 5px;
        font-size: 20px;
        transition: all 0.8s ease;
        padding: 8px;
        border-radius: 50px;

        &:hover {
          cursor: pointer;
          background: rgba($primary, 0.2);
        }
      }
    }

    .search-options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      font-size: 14px;

      .p-button {
        padding: 5px !important;
      }

      div[role="button"] {
        span {
          display: none;
        }
      }
    }

    .controls-details-card-body-actions {
      margin: 6px;
      display: flex;

      i {
        font-size: 20px;
        transition: all 0.8s ease;
        padding: 8px;
        border-radius: 50px;

        &:hover {
          cursor: pointer;
          background: rgba($primary, 0.2);
        }
      }
    }

    .features {
      justify-content: space-around;
      box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
        0 1px 5px 0 rgb(0 0 0 / 12%);
    }

    .card-feature {
      display: flex;
      width: 135px;
      justify-content: space-between;
      align-items: center;
      margin: 5px;
      padding: 5px;
      transition: all 0.5s ease;
      border-radius: 5px;
      box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
        0 1px 5px 0 rgb(0 0 0 / 12%);

      &:hover {
        background: lighten($primary, 60%);
      }

      .card-feature-title {
        font-size: 12px;
      }

      .card-feature-actions {
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
          font-size: 15px;
          margin: 2px;
          transition: all 0.5s ease;

          &:hover {
            cursor: pointer;
            transform: scale(1.3);
          }
        }
      }

      .remove {
        font-size: 15px;
        transition: all 0.5s ease;

        &:hover {
          cursor: pointer;
          color: $danger;
        }
      }
    }

    .features-actions {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 10px;

      .btn-save {
        background: $primary;
      }

      .btn-cancel {
        background: $secondary;
      }

      .btn-action {
        width: 8em;
        color: white;
        display: flex;
        justify-content: center;
        padding: 10px;
        border-radius: 5px;
        font-size: 13px;
        align-items: center;
        transition: all 0.5s ease;

        &:hover {
          cursor: pointer;
        }

        i {
          font-size: 18px;
          margin-right: 5px;
        }
      }
    }
  }
}
