<section id="area">
  <mat-tab-group [(selectedIndex)]="selectedIndexUpload" class="layersConteudo container-upload" mat-stretch-tabs
                 dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>search</mat-icon>
        {{'area.search_title' | translate}}
      </ng-template>
      <mat-progress-bar class="progress-analyse" color="accent" *ngIf="layerFromConsulta.analyzedAreaLoading"
                        mode="indeterminate">
      </mat-progress-bar>
      <mat-form-field class="example-full-width">
        <mat-label>{{'area.upload_token' | translate}}</mat-label>
        <input type="number" min="0" matInput [(ngModel)]="layerFromConsulta.token" (input)="changeTextUpload($event)">
        <!-- <input id="input" type="text" pInputText [(ngModel)]="layerFromConsulta.token" appOnlynumber> &nbsp; -->
      </mat-form-field>
      <i pTooltip="{{'left_sidebar.tutorial_title' | translate}}" class='bx bxs-info-circle btn-help'
         (click)="openTutorial()"></i>


      <mat-card *ngIf="layerFromConsulta.visible" class="card-checkbox-upload mat-elevation-z8" color="primary">
        <div class="title-file-card">
          {{'area.upload_title_file' | translate | uppercase}}</div>
      </mat-card>
      <div class="buttons-analyze">
        <button class="color-buttons"
                *ngIf="layerFromConsulta.token != ''  && !layerFromConsulta.analyzedArea.hasOwnProperty('geojson')"
                (click)="searchUploadShape()" mat-raised-button color="primary">
          <div>
            {{'area.btn_search' | translate | uppercase}}</div>
        </button>
        <button class="color-buttons"
                *ngIf="layerFromConsulta.token != '' && layerFromConsulta.analyzedArea.hasOwnProperty('geojson')"
                (click)="decideConsultaShape()" mat-raised-button color="primary">
          <div>
            {{'area.btn_analyze' | translate | uppercase}}</div>
        </button>
        <button class="color-buttons clear"
                *ngIf="layerFromConsulta.token != '' && !layerFromConsulta.analyzedArea.hasOwnProperty('regions_intersected')"
                (click)="clearUpload(true)" mat-raised-button color="warn">
          <div>
            {{'area.btn_clear' | translate | uppercase}}</div>
        </button>
        <button class="color-buttons clear" *ngIf="layerFromConsulta.analyzedArea.hasOwnProperty('shape_upload')"
                (click)="clearUpload(true)" mat-raised-button color="warn">
          <div>
            {{'area.btn_clear' | translate | uppercase}}</div>
        </button>
      </div>
      <div *ngIf="layerFromConsulta.analyzedAreaLoading" class="info-header"
           [innerHTML]="'area.upload_warning' | translate">
      </div>

      <div *ngIf="layerFromConsulta.error" class="info-error" [innerHTML]="'area.upload_not_found' | translate"></div>

      <div *ngIf="layerFromConsulta.analyzedArea.hasOwnProperty('shape_upload')" class="card card-upload-analysed">
        <h5 class="title-file-card ">
          {{'area.analyzed_area_title' | translate | uppercase}}</h5>
        <div class="card-upload-analysed-content">
          <div class="upload-token">
            <!--            <button (click)="printAnalyzedAreaReport(true)" class="btn-print" mat-icon-button>-->
            <!--              <mat-icon>print</mat-icon>-->
            <!--              <mat-spinner [strokeWidth]="2" [diameter]="18" *ngIf="loadingPrintReport" color="primary"-->
            <!--                mode="indeterminate" style="margin: 0 auto;"></mat-spinner>-->
            <!--            </button>-->
            {{'area.analyzed_area_total_area' | translate }}
            <strong>
              {{layerFromConsulta.analyzedArea.shape_upload.area_upload | number:'1.2-2' }}
              ha </strong>
          </div>

          <div class="card-upload-analysed-table">
            <p-tabView *ngIf="chartsArea.length! > 0">
              <p-tabPanel header="{{chart.title}}" *ngFor="let chart of chartsArea ; let i = index" [selected]="i == 0"
                          [disabled]="!chart.show" [headerStyle]="{'font-size': 'small'}">
                <div class="margin card-header-chart-area">
                  <button class="matButton" color="primary" (click)="openCharts(chart)" mat-icon-button>
                    <mat-icon>aspect_ratio</mat-icon>
                  </button>
                  <h4 class="graphicTitle"> {{chart.text}} </h4>
                </div>
                <div *ngIf="chart.hasOwnProperty('type')">
                  <p-chart #chartU [type]="chart.type" [responsive]="true" [data]="chart.data"
                           [options]="chart.options">
                  </p-chart>
                </div>
              </p-tabPanel>
            </p-tabView>
          </div>

          <div *ngIf="layerFromConsulta.analyzedArea.regions_intersected.hasOwnProperty('city')"
               class="card-upload-analysed-table">
            <h6 class="card-upload-analysed-table-title">
              {{'area.analyzed_area_table_city_title' | translate}}
            </h6>
            <p>
              {{getCitiesAnalyzedArea(true)}}
            </p>
          </div>
          <div *ngIf="layerFromConsulta.analyzedArea.regions_intersected.hasOwnProperty('state')"
               class="card-upload-analysed-table">
            <h6 class="card-upload-analysed-table-title">
              {{'area.analyzed_area_table_state_title' | translate}}
            </h6>
            <p>
              {{getStatesAnalyzedArea(true)}}
            </p>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab *ngIf="validationMobile()">
      <ng-template mat-tab-label>
        <mat-icon>upload</mat-icon>
        {{'area.upload_submit' | translate}}
      </ng-template>
      <div class="info-header" [innerHTML]="'area.upload_msg' | translate"></div>
      <i pTooltip="{{'left_sidebar.tutorial_title'| translate}}" class='bx bxs-info-circle btn-help btn-help-up'
         (click)="openTutorial()"></i>

      <app-file-upload [tooltip]="'area.upload_tooltip' | translate"
                       [maxSizeMsg]="'area.upload_max_size_msg'  | translate" [loading]="layerFromUpload.loading"
                       [app_origin]="'app-base'" [language]="lang" [ddarea]="layerFromUpload.dragArea"
                       (complete)="onFileComplete($event)">
      </app-file-upload>

      <mat-card *ngIf="layerFromUpload.visible" class="card-checkbox-upload mat-elevation-z8" color="primary">
        <div class="title-file-card">
          {{'area.upload_title_file' | translate | uppercase }}</div>
        <mat-card-subtitle>
          <mat-progress-bar class="progress-analyse-up" color="accent" *ngIf="layerFromUpload.analyzedAreaLoading"
                            mode="indeterminate">
          </mat-progress-bar>
          <mat-checkbox class="example-margin" (change)="onChangeCheckUpload($event)"
                        [checked]="layerFromUpload.checked">
            {{layerFromUpload.label}}
          </mat-checkbox>
          <h5 class="upload-token">
            {{'area.upload_token' | translate}}<strong>{{layerFromUpload.token}}</strong>
            <button color="accent" (click)="printRegionsIdentification(layerFromUpload.token)" class="btn-print-token"
                    mat-icon-button>
              <mat-icon>print</mat-icon>
            </button>
          </h5>
        </mat-card-subtitle>
      </mat-card>
      <div class="buttons-analyze">
        <button class="color-buttons" *ngIf="layerFromUpload.checked" (click)="analyzeUploadShape()" mat-raised-button>
          <div>{{'area.btn_analyze' | translate | uppercase}}</div>
        </button>
        <button class="color-buttons clear"
                *ngIf="layerFromUpload.token != '' && layerFromUpload.visible && !layerFromUpload.analyzedArea.hasOwnProperty('regions_intersected')"
                (click)="clearUpload()" mat-raised-button>
          {{'area.btn_clear' | translate | uppercase}}
        </button>
        <button class="color-buttons" *ngIf="layerFromUpload.analyzedArea.hasOwnProperty('shape_upload')"
                (click)="clearUpload()" mat-raised-button>
          <div>{{'area.btn_clear' | translate | uppercase}}</div>
        </button>
      </div>
      <div *ngIf="layerFromUpload.analyzedAreaLoading" class="info-header"
           [innerHTML]="'area.upload_warning' | translate">
      </div>

      <div *ngIf="layerFromUpload.analyzedArea.hasOwnProperty('shape_upload')" class="card card-upload-analysed">
        <h5 class="title-file-card ">
          {{'area.analyzed_area_title' | translate | uppercase}}
        </h5>
        <div class="card-upload-analysed-content">
          <div class="upload-token">
            <button color="primary" (click)="printAnalyzedAreaReport()" class="btn-print" mat-icon-button>
              <mat-icon>print</mat-icon>
              <mat-spinner [strokeWidth]="2" [diameter]="18" *ngIf="loadingPrintReport" color="primary"
                           mode="indeterminate" style="margin: 0 auto;"></mat-spinner>
            </button>
            {{'area.analyzed_area_total_area' | translate }}
            <strong>
              {{layerFromUpload.analyzedArea.shape_upload.area_upload | number:'1.2-2' }}
              ha </strong>
          </div>

          <div *ngIf="layerFromUpload.analyzedArea.regions_intersected.hasOwnProperty('city')"
               class="card-upload-analysed-table">
            <h6 class="card-upload-analysed-table-title">
              {{'area.analyzed_area_table_city_title' | translate}}
            </h6>
            <p>
              {{getCitiesAnalyzedArea()}}
            </p>
          </div>
          <div *ngIf="layerFromUpload.analyzedArea.regions_intersected.hasOwnProperty('state')"
               class="card-upload-analysed-table">
            <h6 class="card-upload-analysed-table-title">
              {{'area.analyzed_area_table_state_title' | translate}}
            </h6>
            <p>
              {{getStatesAnalyzedArea()}}
            </p>
          </div>

          <div class="card-upload-analysed-table">
          </div>
        </div>
      </div>

    </mat-tab>

  </mat-tab-group>
  <p-dialog
    header="{{'left_sidebar.tutorial_title' | translate}}"
    [maximizable]="true"
    [draggable]="false"
    [resizable]="false"
    [appendTo]="'body'"
    [modal]="true"
    [style]="{width: '80%', height: '90%'}"
    [(visible)]="displayTutorial">
    <iframe [src]="tutorialUrl" type="application/pdf" width="100%" height="100%"></iframe>
  </p-dialog>
  <p-dialog
    header="{{'map.job.title' | translate}}"
    [maximizable]="false"
    [draggable]="false"
    [resizable]="false"
    [appendTo]="'body'"
    [modal]="true"
    [style]="{width: '50%'}"
    [(visible)]="displayFormJob">
    <div class="form-jobs">
      <span class="p-float-label">
        <input type="text" id="name" pInputText [(ngModel)]="job.name">
        <label for="name">{{'map.job.input_name' | translate}}</label>
      </span>
      <span class="p-float-label" >
        <input type="email" id="email" [ngClass]="emailValid ? '' : 'ng-invalid ng-dirty'" pInputText [(ngModel)]="job.email" (blur)="validateEmail()">
        <label for="email">{{'map.job.input_email' | translate}}</label>
      </span>
      <div class="job-controls">
        <span class="terms">
          <p-inputSwitch [(ngModel)]="job.acceptTerms" ariaLabel="Aceita Termos de Uso?"></p-inputSwitch>
          <small>{{'map.job.acceptTerms' | translate}}</small>
        </span>
        <p-button *ngIf="job.acceptTerms && emailValid && job.email != '' && job.name != ''" icon="pi pi-check" (click)="sendRequestJob()" label="{{'map.job.btn' | translate}}" styleClass="p-button-success"></p-button>
      </div>
    </div>
  </p-dialog>

  <p-dialog [appendTo]="'body'" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [modal]="true"
            [header]="objectFullScreenChart.title" [(visible)]="objectFullScreenChart.fullScreen" [style]="{width: '50vw'}">
    <p *ngIf="objectFullScreenChart.text">
      {{ objectFullScreenChart.text }}
    </p>
    <div class="chart">
      <p-chart *ngIf="objectFullScreenChart.type" [responsive]="true"  [type]="objectFullScreenChart.type" [data]="objectFullScreenChart.data"
               [options]="objectFullScreenChart.options">
      </p-chart>
    </div>
  </p-dialog>


</section>
