<section id="main" class="container">

  <app-left-side-bar
    #leftSideBar
    [descriptor]="descriptor"
    [loadingDownload]="generalMap.loadingDown"
    (onMenuSelected)="onMenuSelected($event)"
    (onMenuToggle)="onMenuToggle($event)"
    (onSideBarToggle)="onSideBarToggle($event)"
    (onChangeLng)="onChangeLanguage()"
    (updateCharts)="rightSideBar.updateStatistics()"
    (onLayerChangeVisibility)="generalMap.changeLayerVisibility($event)"
    (onLayerChangeTransparency)="generalMap.onChangeTransparency($event)"
    (onDownload)="generalMap.buttonDownload($event)"
    (onChangeMap)="generalMap.changeLayerVisibility($event)"
    (onChangeLimits)="generalMap.changeLayerVisibility($event)"
    (displayFilter)="generalMap.onSearch($event)">
  </app-left-side-bar>

  <app-general-map
    #generalMap
    [descriptor]="descriptor"
    [openMenu]="openMenu"
    [displayLayers]="showLayers"
    (onLimitsReady)="leftSideBar.setLimits($event)"
    (onChangeRegion)="rightSideBar.updateStatistics($event)"
    (onChangeRegion)="leftSideBarMobile.updateRegion($event)"
    (onBasemapsReady)="leftSideBar.setBasemaps($event)"
    (onMapReadyLeftSideBar)="leftSideBar.setMap($event)"
    (onSelectLayerSwipe)="leftSideBarMobile.setLayerVisible($event)"
    (onLimitsReady)="leftSideBarMobile.setLimits($event)"
    (onBasemapsReady)="leftSideBarMobile.setBasemaps($event)"
    (onMapReadyLeftSideBar)="leftSideBarMobile.setMap($event)"
    (onSelectLayerSwipe)="leftSideBar.setLayerVisible($event)"
    (onMapReadyRightSideBar)="rightSideBar.setMap($event)"
    (onSearchDrawnGeometry)="leftSideBar.setTokenGeometryToSearch($event)"
    (onChangeFilterLayer)="rightSideBar.receiveFilterLayer($event)"
    (onSearchDrawnGeometryMobile)="leftSideBarMobile.setTokenGeometryToSearch($event)"
    (onCloseDetailsWindow)="leftSideBar.showFilter = $event">
  </app-general-map>

  <app-right-side-bar
    #rightSideBar
    [descriptor]="descriptor"
    [displayOptions]="leftSideBar.displayStatistics"
    (onSideBarToggle)="generalMap.onRightSideBarOpen($event)"
    (onSideBarToggle)="leftSideBar.displayStatistics = $event">
  </app-right-side-bar>

  <left-side-bar-mobile
    #leftSideBarMobile
    [descriptor]="descriptor"
    [loadingDownload]="generalMap.loadingDown"
    (onMenuSelected)="onMenuSelected($event)"
    (onMenuToggle)="onMenuToggle($event)"
    (onSideBarToggle)="onSideBarToggle($event)"
    (onChangeLng)="onChangeLanguage()"
    (onLayerChangeVisibility)="generalMap.changeLayerVisibility($event)"
    (onLayerChangeTransparency)="generalMap.onChangeTransparency($event)"
    (onDownload)="generalMap.buttonDownload($event)"
    (onChangeMap)="generalMap.changeLayerVisibility($event)"
    (onChangeLimits)="generalMap.changeLayerVisibility($event)"
    (displayFilter)="generalMap.onSearch($event)"
  ></left-side-bar-mobile>

</section>
