@import "src/app/@core/styles/default_theme";
@import "src/app/@core/styles/reponsive";
@import url(https://fonts.googleapis.com/css?family=Lato);

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@include media('>=phone', '<=tablet') {
  .desktop {
    display: none;
  }
}


@include media('>=tablet', '<=desktop') {
  .mobile {
    display: none;
  }
}

@include media('>=desktop') {

  .mobile {
    display: none;
  }

  //Switchs Buttons
  .inlineSwitchButton {
    display: inline;
  }

  //End Switchs buttons


  :host ::ng-deep .tabview-custom {

    i,
    span {
      vertical-align: middle;
    }

    span {
      margin: 0 .5rem;
    }
  }


  :host ::ng-deep .p-tabview-nav-link {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;

  }


  .left-side-bar {
    border-radius: 5px 0 0 5px;
    height: $height;
    background: $primary;

    .sidebar {
      position: relative;
      height: 100%;
      width: $left-sb-width;
      background: $primary;
      padding: 6px 6px;
      z-index: 99;
      transition: all 0.5s ease;

      .logo-details {
        //height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .icon {
          opacity: 1;
          cursor: pointer;
          transition: all 0.5s ease;
        }

        .logo_name {
          color: #fff;
          font-size: 20px;
          font-weight: 600;
          opacity: 0;
          transition: all 0.5s ease;
        }

        #btn {
          position: absolute;
          top: 50%;
          right: 23px;
          transform: translateY(-50%);
          font-size: 23px;
          text-align: center;
          cursor: pointer;
          transition: all 0.5s ease;
        }

        img {
          max-width: 2em;
        }
      }

      i {
        color: #fff;
        height: 36px;
        min-width: 50px;
        font-size: 28px;
        text-align: center;
        line-height: 60px;
        transition: all 0.5s ease;
      }

      .nav-list {
        &-drag {
          height: 75vh;
        }
      }

      li {
        position: relative;
        margin: 8px 0;
        list-style: none;

        i {
          line-height: 43px;
          font-size: 25px;
          border-radius: 12px;
        }

        .menu-active {
          background: #FFF !important;
          color: $primary !important;

          .links_name,
          i {
            color: $primary;
          }

          .lng_name,
          i {
            color: $primary;
          }
        }


        div {
          display: flex;
          height: 100%;
          width: 100%;
          padding: 0 0 10px 0;
          border-radius: 12px;
          align-items: center;
          text-decoration: none;
          transition: all 0.5s ease;
          flex-direction: column;
          background: lighten($primary, 10%);

          &:hover {
            background: #FFF;
            cursor: pointer;
          }

          .links_name {
            color: #fff;
            font-size: 12px;
            font-weight: 400;
            white-space: nowrap;
            opacity: 0;
            display: none;
            pointer-events: none;
            transition: all 0.5s ease;
          }

          .lng_name {
            color: #fff;
            font-size: 12px;
            font-weight: 400;
            white-space: nowrap;
            opacity: 1;
            pointer-events: none;
            transition: all 0.5s ease;
          }

          &:hover {

            .links_name,
            i {
              color: $primary;
            }

            .lng_name,
            i {
              color: $primary;
            }
          }
        }

        .tooltip {
          position: absolute;
          top: -20px;
          left: calc(100% + 15px);
          z-index: 3;
          background: #fff;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          padding: 6px 12px;
          border-radius: 4px;
          font-size: 15px;
          font-weight: 400;
          opacity: 0;
          white-space: nowrap;
          pointer-events: none;
          transition: all 0.5s ease;
        }

        &:hover {
          .tooltip {
            opacity: 1;
            pointer-events: auto;
            transition: all 0.4s ease;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      .footer {

        &-drag {
          width: calc(100% - 12px);
          height: 6rem;
          bottom: 0px;
          position: absolute;

          li {

            .lng-active {
              background: white !important;

              .lng_name {
                color: $primary !important;
              }
            }

            .lng {
              padding: 10px 0 10px 0;
            }
          }
        }
      }

      .open {
        padding: 6px 0 0 0;
        min-width: 5em;
        width: 5rem;

        .logo-details {
          .logo_name {
            opacity: 1;
          }
        }

        .logo-details {
          #btn {
            text-align: right;
            right: 0;
            top: 10%;
          }
        }

        li {
          i {
            font-size: 25px;
            line-height: 38px;
          }

          .tooltip {
            display: none;
          }

          .profile {
            width: 250px;
          }

          div {
            padding: 8px;

            .links_name {
              display: block;
              opacity: 1;
              pointer-events: auto;
            }
          }
        }

        .footer {
          &-drag {
            height: 6rem;

            li {
              width: 100%;
            }
          }
        }
      }

      .close {
        position: relative;
        float: right;
        z-index: 1020;
        color: $primary !important;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 100px;
        line-height: 37px !important;
        font-size: 28px;
        text-align: center;
        transition: all 0.5s ease;
        cursor: pointer !important;

        &:hover {
          color: $danger
        }
      }

      .partners {
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          color: $primary;
        }

        img {
          //padding-top: 15px;
          //max-width: 75%;
          //width: 80%;
          margin-top: 2px;
          margin-bottom: -15px;
          padding: 2px;
          max-width: 80%;
        }
      }
      .build_version {
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        font-weight: 800;
      }

    }

    .title {
      padding-bottom: 8px;
      padding-top: 8px;
      transition: 0.6s ease all;
      color: white;
      margin: 5px;
      text-align: center;
      background: $primary;
      border-radius: 5px;
    }

    .content {
      overflow-y: auto;
      box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);

      .options {
        .details-inner {
          padding: 18px 8px 0px 8px;
        }
      }

      .menu-item {
      }
    }
  }

  :host ::ng-deep .p-sidebar-left {
    width: 20rem;
    background: lighten($primary, 75%) !important;

    .p-sidebar-content {
      h4 {
        text-align: center;
        padding: 10px 0 0 10px;
      }
    }

    .p-sidebar-header {
      padding: 0rem;
      height: 3.5rem;
      box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);

      .p-sidebar-close {
        width: 14rem;

        &:hover {
          background: transparent;
        }
      }

      .header {
        transition: all 0.5s ease;
        cursor: pointer;

        .logo {
          //max-width: 70%;
          width: 65%;
          padding: 10px;
          margin-top: 5px;
        }
      }
    }

    .p-sidebar-content {
    }
  }


  .group-card {
    position: relative;
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 10px;
    margin-top: 10px;

    border-radius: 5px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    overflow: hidden;
    perspective: 800px;
    transform-style: preserve-3d;
    transition: .6s ease all;
  }

  .abstract,
  .details {
    $bg: rgba(white, 1);
    width: 100%;
    position: relative;
    background: $bg;

    .group-card:hover & {
      background: darken($bg, 2%);
    }
  }

  .abstract {
    z-index: 10;
    transition: .6s ease all;
    padding: 8px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);

    .group-label {
      font-size: 13px;
      margin-left: 2px;
    }

    i {
      color: black !important;
      line-height: unset !important;
      height: unset !important;
      font-size: 18px !important;
      min-width: unset !important;
    }

    span {
      display: flex;
      align-items: center;
    }
  }

  .details {
    max-height: 0;
    padding: 0;

    overflow: hidden;
    visibility: hidden;

    transform: rotateX(-180deg);
    transform-origin: top center;
    backface-visibility: hidden;
    transition: .6s ease all;
  }

  .group-card-active {
    transition: .6s ease all;
    //border: 1px solid $primary;
    transform: scale(1.0);

    .details {
      max-height: none;
      overflow: visible;
      visibility: visible;
      transform: rotateX(0deg);
    }
  }

  .details-inner {
    padding: 8px;
  }

  .layer-card {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;


    h5,
    div {
      font-size: 12px !important;
      font-family: 'Montserrat', sans-serif !important;
    }

    .p-float-label {
      margin: 5px;
    }

    .layer-card-header {
      transition: .6s ease all;
      padding: 8px;
      text-align: left;
      display: flex;
      height: 35px;
      background: lighten($primary, 60%);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      h5 {
        margin-left: 6px;
        text-overflow: ellipsis;
        width: 195px;
        white-space: nowrap;
        overflow: hidden;
      }

      i {
        color: $primary;
        line-height: 18px !important;
        height: unset !important;
        font-size: 23px !important;
        min-width: unset !important;
        transition: all 0.8s ease;
        border-radius: 50px;

        &:hover {
          cursor: pointer;
          color: white;
        }
      }

      span {
        display: flex;
        align-items: center;
      }

    }

    .layer-card-body {
      display: flex;

      .layer-card-thumbnail {
        width: 20%;
        display: flex;
        align-items: center;

        img {
          width: 100%;
          margin: 5px;
          box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
          border-radius: 8px;
        }
      }

      .layer-card-content {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .layer-transparency {
    width: 17rem;
    margin: 5px;
    color: black;
    text-align: center;

    .range {
      -webkit-appearance: none;
      transition: all 0.8s ease;
      width: 100%;
      background: linear-gradient(to right, $primary, lighten($primary, 0.4) 40%, white);
      border: 0px;
      border-radius: 10px;
      padding: 0;
      outline: none;

      &::-webkit-slider-thumb {
        border-bottom: 1px solid black;
        -webkit-appearance: none;
        appearance: none;
        margin: 1px;
        border-radius: 12px;
        width: 15px;
        height: 15px;
        background: lighten($primary, 0.5);
        box-shadow: 0 2px 6px 0 white;
        cursor: pointer;
      }
    }
  }

  :host ::ng-deep .p-dropdown {
    width: 17rem;
    margin: 5px;

    .p-inputtext {
      font-size: 1rem;
      padding: 0.4rem 0.4rem;
      font-family: "Montserrat", sans-serif;
    }
  }

  :host ::ng-deep .p-button-text {
    color: $primary;
  }

  .layer-exports {
    display: flex;
    margin-right: 8px;
    align-items: center;
    padding: 7px;
    justify-content: space-evenly;
  }

  .loader-container {
    height: 6em;
  }

  .loader,
  .loader:before,
  .loader:after {
    background: $primary;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }

  .loader {
    font-size: 10px !important;
    color: $primary;
    text-indent: -9999em;
    margin: 18px;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  .loader:before,
  .loader:after {
    position: absolute;
    top: 0;
    content: '';
  }

  .loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .loader:after {
    left: 1.5em;
  }

  .compass {
    margin: 8px;
  }


  @keyframes load1 {

    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 3em;
    }

    40% {
      box-shadow: 0 -2em;
      height: 4em;
    }
  }
}

.layer-alert{
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 9px;
  width: 95%;
  background: #f7d4a7;
  border: solid #cc8925;
  border-width: 0 0 0 6px;
  color: #121210;
  text-align: center;
  span{
    font-size: 11px;
    text-align: center;
  }
}

