@import "src/app/@core/styles/default_theme";
@import "src/app/@core/styles/reponsive";
@import url(https://fonts.googleapis.com/css?family=Lato);

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@include media('>=desktop') {

  .mobile {
    display: none;
  }

}

@include media('>=tablet', '<=desktop') {


    .mobile {
      display: none;
    }


    :host ::ng-deep .p-sidebar-left {
      width: 100%;
      height: calc(100% - 100px);


      position: fixed;
      background: lighten($background-sidebar, 75%) !important;




        :host ::ng-deep .p-sidebar-left .p-sidebar-content h4 {
          padding: 10px 20px 20px 10px !important;
        }



      .partners {
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          color: $primary;
        }

        img {
          //padding-top: 15px;
          //max-width: 75%;
          //width: 80%;
          margin-top: 2px;
          margin-bottom: -15px;
          padding: 10px;
          max-width: 100%;
    }
  }


      .footer {

        &-drag {
          width: calc(10% - 12px);
          height: 1rem;
          bottom: 0px;
          position: absolute;

          li {

            .lng-active {
              background: white !important;

              .lng_name {
                color: $primary !important;
              }
            }

            .lng {
              padding: 10px 0 10px 0;
            }
          }
        }
      }


      .p-sidebar-header {
        padding: 0rem;
        height: 3.5rem;
        box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);

        .p-sidebar-close {
          width: 6rem;

          &:hover {
            background: transparent;
          }
        }

        .header {
          transition: all 0.5s ease;

          .logo {
            //max-width: 70%;
            width: 45%;
            padding: 10px;
            margin-top: 5px;
          }
        }
      }

      .p-sidebar-content {
      }
    }

    .navtab {
      --navtab-width: 100%;
      --navtab-item-width: calc(var(--navtab-width) / 3 - 40px);
      --navtab-overlay-width: calc(var(--navtab-item-width) + 30px);
      --active-index: 0;

      position: fixed;
      left: 0;
      bottom: 0;
      /*z-index:999999; */

      width: var(--navtab-width);
      height: 100px;
      background: $background-sidebar;
      overflow-x: hidden;
      overflow-y: hidden;


      ul {
        @include center;
        width: 740px;
        /* ou 370px */
        height: 100%;
        padding: 0;
        margin: 0;
        list-style-type: none;

        .navtab-item {
          @include center;
          z-index: 2;
          flex-direction: column;
          width: var(--navtab-item-width);
          height: 56%;
          color: #fff;
          cursor: pointer;
          transition: 0.5s ease;

          .svg {
            transition: 0.5s ease;
          }

          span {
            font-size: 13px;
            user-select: none;
            transition: 0.5s ease;
          }

          &.active {
            width: var(--navtab-overlay-width);

            .svg {
              transform: translateY(-10px);
            }

            span {
              opacity: 1;
            }
          }
        }
      }
    }

  }
