.abstract {
  padding: 40px;
  /*background: rgb(58 55 55 / 40%);*/
  background: rgb(234 230 230 / 77%);
  border-radius: 15px;
}

.abstract img {
  height: 9em;
  display: block;
  margin: 0 auto;
}

.abstract p {
  font-size: 18px;
  color: black !important;
}

.service-details p {
  text-align: justify;
  height: 20em;
  font-size: 14px;
  overflow: hidden;
}

.card {
  transition: .5s;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)!important;
  transform: scale(1.03);
}

/*.btn-style:hover {*/
/*  color:  rgb(58 55 55 / 40%);;*/
/*  background: white;*/
/*}*/

.navbar-brand{
  /*margin: 12px;*/
  /*padding: 5px;*/
  /*background: rgb(234 230 230);*/
  /*border-radius: 15px;*/
}

.img-responsive {
  box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 10%);
}

.copyright-footer img{
  max-width: 19%;
}

.navbar-brand img {
  height: 3em!important;
}

.diferencial{
  max-width: calc(100% - 16%);
  padding: 40px;
  background: #292727b3;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}

.member{
  font-size: 0.95em;
  font-weight: bold;
}

.card-team {
  size: 20%;
}
