<nav class="navtab mobile">
  <ul #leftSidebarMobile class="nav-list">
    <li class="navtab-item" (click)="onFilter()">
      <div class="mygrid" align="center" [pTooltip]="open ? '' : 'menu.filters_tooltip'  | translate ">
        <i style="font-size:28px;width:90px;" class='svg fg-map-search nf'></i>
        <span class="links_name">{{'menu.filters' | translate}}</span>
      </div>
    </li>
    <li class="navtab-item" *ngFor="let item of menuMobile">
      <div align="center" [pTooltip]="open ? '' : 'menu.'+item.key+'_tooltip'  | translate "
           (click)="handleMenuMobile(item, true)">
        <i style="font-size:28px;width:90px;" class='svg {{item.icon}}'></i>
        <span class="links_name">{{'menu.' + item.key | translate}}</span>
      </div>
    </li>
  </ul>
</nav>

<p-sidebar [appendTo]="leftSidebarMobile" [transitionOptions]="'2ms cubic-bezier(0, 0, 0.2, 1)'" [modal]="false"
           [(visible)]="layersSideBarMobile"
           (onShow)="onSideBarShowMobile()">
  <h4 *ngIf="currentMenu?.key !== 'statistics'" class="title">{{ layersTitle }}</h4>
  <div class="content">
    <div class="menu-item" *ngIf="currentMenu?.key == 'layers'">
      <div *ngFor="let group of descriptor?.groups">
        <div [class]="group.groupExpanded ? 'group-card group-card-active' :'group-card'">
          <div (click)="group.groupExpanded = !group.groupExpanded" class="abstract">
              <span>
                <i class='bx bxs-layer'></i>
                <div class="group-label">{{group.labelGroup}}</div>
              </span>
            <i tooltipPosition="left"
               [pTooltip]="group.groupExpanded? localizationService.translate('minimize') : localizationService.translate('maximize')"
               [class]="group.groupExpanded ? 'bx bxs-up-arrow-circle' :'bx bxs-down-arrow-circle'"></i>
          </div>
          <div class="details">
            <div class="details-inner">
              <div *ngFor="let layer of group.layers; let i = index" class="layer-card">
                <div class="layer-card-header">
                  <p-inputSwitch (onChange)="changeLayerVisibility(layer)" [id]=layer.idLayer
                                 (ngModelChange)="layer.visible = !layer.visible"
                                 [(ngModel)]="layer.visible"></p-inputSwitch>
                  <h5>{{layer.labelLayer}}</h5>
                  <i *ngIf="layer.selectedTypeObject!.metadata &&  layer.selectedTypeObject!.visible"
                     pTooltip="{{'left_sidebar.layer.metadata' | translate}}"
                     class='bx bxs-info-circle' (click)="showMetadata(layer)"></i>
                </div>
                <div class="layer-card-body" *ngIf="layer.visible">
                  <div class="layer-card-content">
                    <div *ngIf="layer.types.length > 1">
                        <span class="p-float-label">
                            <p-dropdown
                              id="types-{{layer.selectedType}}"
                              *ngIf="layer.types.length > 1"
                              [options]="layer.types"
                              [(ngModel)]="layer.selectedType"
                              (onChange)="changeLayerVisibility(layer)"
                              optionLabel="viewValueType"
                              optionValue="valueType"
                            ></p-dropdown>
                            <label for="types-{{layer.selectedType}}">{{layer.selectedTypeObject!.typeLabel}}</label>
                        </span>
                    </div>
                    <span *ngIf="layer.selectedTypeObject!.filters" class="p-float-label">
                        <p-dropdown id="type-filters-{{layer.selectedTypeObject!.filterSelected}}"
                                    *ngIf="layer.selectedTypeObject!.filters"
                                    [options]="layer.selectedTypeObject!.filters"
                                    [(ngModel)]="layer.selectedTypeObject!.filterSelected"
                                    (onChange)="changeLayerVisibility(layer, true)"
                                    optionLabel="viewValueFilter" optionValue="valueFilter"></p-dropdown>
                        <label
                          for="type-filters-{{layer.selectedTypeObject!.filterSelected}}">{{layer.selectedTypeObject!.filterLabel}}</label>
                      </span>
                    <div class="layer-transparency">
                      <input (mousemove)="onChangeTransparency(layer, $event)" class="range" type="range" min="0"
                             max="100" value="0">
                      <br> <span>{{'left_sidebar.opacity' | translate}}</span>
                    </div>
                    <div class="layer-exports mobileHide"
                         *ngIf="layer.selectedTypeObject!.download.csv || layer.selectedTypeObject!.download.gpkg || layer.selectedTypeObject!.download.raster || layer.selectedTypeObject!.download.shp">
                      <div *ngIf="layer.selectedTypeObject!.download.loading" class="loader-container">
                        <div *ngIf="layer.selectedTypeObject!.download.loading" class="loader"></div>
                      </div>

                      <button pTooltip="{{'left_sidebar.layer.down_shp' | translate}}" pButton pRipple type="button"
                              label="SHP" (click)="download('shp', layer.selectedTypeObject, $event)"
                              *ngIf="layer.selectedTypeObject!.download.shp && !layer.selectedTypeObject!.download.loading"
                              class="p-button-raised p-button-text" icon="pi pi-download"></button>
                      <button pTooltip="{{'left_sidebar.layer.down_gpkg' | translate}}" pButton pRipple type="button"
                              label="GPKG" (click)="download('gpkg', layer.selectedTypeObject, $event)"
                              *ngIf="layer.selectedTypeObject!.download.gpkg && !layer.selectedTypeObject!.download.loading"
                              class="p-button-raised p-button-text" icon="pi pi-download"></button>
                      <button pTooltip="{{'left_sidebar.layer.down_csv' | translate}}" pButton pRipple type="button"
                              label="CSV" (click)="download('csv', layer.selectedTypeObject, $event)"
                              *ngIf="layer.selectedTypeObject!.download.csv && !layer.selectedTypeObject!.download.loading"
                              class="p-button-raised p-button-text" icon="pi pi-download"></button>
                      <button pTooltip="{{'left_sidebar.layer.down_raster' | translate}}" pButton pRipple type="button"
                              label="TIFF" (click)="download('raster', layer.selectedTypeObject, $event)"
                              *ngIf="layer.selectedTypeObject!.download.raster && !layer.selectedTypeObject!.download.loading"
                              class="p-button-raised p-button-text" icon="pi pi-download"></button>
                    </div>
                  </div>
                </div>
              </div>
              <p-dialog [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false"
                        [appendTo]="'body'" [modal]="true"
                        header="{{metadata.header.title}} - {{metadata.header.description}}"
                        [(visible)]="displayMetadata"
                        [style]="{width: '50vw'}">
                <table>
                  <tbody>
                  <tr class="table-row" *ngFor="let data of metadata.data">
                    <td class="title-row"><b>{{data.title}}</b></td>
                    <td *ngIf="!isDetails(data.title); else linkDetails" class="content-row">{{data.description}}
                    </td>
                    <ng-template #linkDetails>
                      <td class="content-row" [innerHTML]="data.description"></td>
                    </ng-template>
                  </tr>
                  </tbody>
                </table>
              </p-dialog>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="menu-item" *ngIf="currentMenu?.key == 'statistics'">
      <app-right-side-bar-mobile [region]="region"></app-right-side-bar-mobile>
    </div>
    <div class="menu-item" *ngIf="currentMenu?.key == 'area'">
      <app-leftsidebar-area [map]="map" [lang]="lang" [token]="token"></app-leftsidebar-area>
    </div>
    <div class="menu-item" *ngIf="currentMenu?.key == 'filters'"></div>
    <div class="menu-item" *ngIf="currentMenu?.key == 'options'">
      <div *ngIf="limits.length > 0" [class]="optionsGroups.limits ? 'group-card group-card-active' :'group-card'">
        <div (click)="optionsGroups.limits = !optionsGroups.limits" class="abstract">
          <span>
            <i class='bx bx-cog'></i>
            <div class="group-label">{{'options.limits' | translate}}</div>
          </span>
          <i [class]="optionsGroups.limits ? 'bx bxs-up-arrow-circle' :'bx bxs-down-arrow-circle'"></i>
        </div>
        <div class="details">
          <div class="details-inner">
            <br>
            <div class="toggle" *ngFor="let limit of limits">
              <p-inputSwitch [(ngModel)]="limit.checked" styleClass="inputSwitchClass"
                             (onChange)="onChangeLimit(limit, $event)"></p-inputSwitch>
              <p class="inlineSwitchButton"> {{limit.get('label')}} </p>
              <br><br>
            </div>
          </div>
        </div>
      </div>
      <div [class]="optionsGroups.basemaps ? 'group-card group-card-active' :'group-card'">
        <div (click)="optionsGroups.basemaps = !optionsGroups.basemaps" class="abstract">
          <span>
            <i class='bx bx-cog'></i>
            <div class="group-label">{{'options.basemaps' | translate}}</div>
          </span>
          <i [class]="optionsGroups.basemaps ? 'bx bxs-up-arrow-circle' :'bx bxs-down-arrow-circle'"></i>
        </div>
        <div class="details">
          <div class="details-inner">
            <br>
            <div class="toggle" *ngFor="let bmap of basesmaps">
              <p-inputSwitch styleClass="inputSwitchClass" (onChange)="onChangeBaseMap(bmap)"
                             [(ngModel)]="bmap.checked"></p-inputSwitch>
              <p class="inlineSwitchButton"> {{bmap.name}} </p>
              <br><br>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="options.length > 0" [class]="optionsGroups.options ? 'group-card group-card-active' :'group-card'">
        <div (click)="optionsGroups.options = !optionsGroups.options" class="abstract">
          <span>
            <i class='bx bx-cog'></i>
            <div class="group-label">{{'options.options' | translate}}</div>
          </span>
          <i [class]="optionsGroups.options ? 'bx bxs-up-arrow-circle' :'bx bxs-down-arrow-circle'"></i>
        </div>
        <div class="details">
          <div class="details-inner">
            <br>
            <div class="toggle" *ngFor="let option of options">
              <p-inputSwitch [(ngModel)]="option.checked" styleClass="inputSwitchClass"
                             (onChange)="onChangeOption(option)"></p-inputSwitch>
              <p class="inlineSwitchButton"> {{option.name}}</p>
              <br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="partners partners-mobile">
      <img src="assets/logos/marcas.png" alt="">
    </div>
  </div>
</p-sidebar>
