<app-site-base>
  <!-- banner section -->
  <section class="banner-19">
    <div class="banner-layer">
      <div class="main-content-top">
        <div class="container">
          <div class="main-content abstract">
            <img src="../../../../assets/hotsite/images/logos/logo_cor.svg" alt="Atlas das Pastagens"
              title="Atlas das Pastagens Brasileiras" />
            <p class="mt-3 ">{{'hotsite.home.banner.text' | translate}}</p>
            <a href="/map" class="btn btn-style mt-md-5 mt-4">{{'hotsite.home.banner.btn' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //banner section -->
  <!-- about section -->
  <div class="w3l-content-photo-5 py-5">
    <div class="container py-lg-5 py-sm-4">
      <div class="row align-items-center">
        <div class="col-lg-6 content-image order-lg-first order-last">
          <iframe src="https://www.youtube.com/embed/ZZnHtkblmro" width="100%" height="400" title="Atlas das Pastagens"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div class="col-lg-6 col-md-10 mx-auto content-right mb-lg-0 mb-5 pl-lg-5 order-lg-last order-first">
          <h3 class="title-style-2"> {{'hotsite.home.abstract.title' | translate}}</h3>
          <p class="border-top-w3l pt-4 mt-4"> {{'hotsite.home.abstract.text' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- //about section -->

  <!-- services section -->
  <div class="service-section">
    <div class="container py-md-5 py-4">
      <div class="row align-items-center mb-5">
        <div class="col-md-6 section-heading">
          <h3 class="title-style-2">
            {{'hotsite.home.emphasis.title' | translate}}
          </h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div *ngFor="let highlight of highlights" class="col-lg-4 col-md-6 item">
          <div class="card">
            <a target="_blank" [href]="highlight.document" class="service-heading">
              <div class="card-header p-0 position-relative border-0">
                <img class="d-block img-responsive" [src]="highlight.image" [alt]="highlight.title">
              </div>
              <div class="card-body service-details">
                <div class="card-title"> {{ highlight.title }}</div>
                <p>
                  {{ highlight.description }}
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //services section -->

  <!-- testimonials section -->
  <section class="w3l-clients pb-4" id="testimonials">
    <div class="container py-md-5 py-4">
      <div class="row align-items-center mb-5">
        <div class="col-md-6 section-heading">
          <h3 class="title-style-2">{{'hotsite.home.team.title' | translate}} </h3>
        </div>
      </div>
    </div>
    <div *ngFor="let person of team">
      <div class="card-team">
        <img [src]="person.image">
      </div>
    </div>
  </section>
  <!-- //testimonials section -->

  <!-- content section -->
  <section class="w3l-content-mid ">
    <div class="container py-md-5 py-4">
      <div class="diferencial">
        <h3 class="title-w3l">{{'hotsite.home.differential.title' | translate}}</h3>
        <p class="mt-3 text-white">
          {{'hotsite.home.differential.p1' | translate}}
        </p>
        <p class="mt-2 text-white">
          {{'hotsite.home.differential.p2' | translate}}
        </p>
        <p class="mt-2 text-white">
          {{'hotsite.home.differential.p3' | translate}}
        </p>
      </div>
    </div>
  </section>
  <!-- //content section -->
</app-site-base>