<section id="hotsite">
<div class="w3l-error-grid py-5 error">
  <div class="container py-lg-5 py-md-4">
    <div class="row error-block align-items-center">
      <div class="col-lg-6">
        <h1>404</h1>
      </div>
      <div class="col-lg-6  justify-content-center">
        <img src="../../../../assets/hotsite/images/logos/logo_preto.png" alt="Atlas das Pastagens"
             title="Atlas das Pastagens Brasileiras"/>
        <h2 class="mt-5">Oops, página não encontrada!</h2>
        <a href="/" class="tn back-button mt-md-5 mt-4"> <span
          class="fa fa-arrow-left mr-2"></span>
          Voltar para Home</a>
      </div>
    </div>
  </div>
</div>
</section>
